/* General styling for pages */
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #2e2c2a;
}

h3, h2, h1 {
    font-family: 'Fahkwang', sans-serif;
}

h4 {
    font-size: 23px;
}

/* Styles for header */
header {
    background-color: #47718a;
    overflow: hidden;
    border-bottom: 3px solid #2e2c2a;
    border-top: 3px solid #2e2c2a;
    display: flex;
    align-content: center;
}
header img {
    margin: 35px 0 0 20px;
    width: 100px;
}

header h1 {    
    color: #2e2c2a;
    padding: 20px 20px 0 20px;
    font-size: 35px;   
}

.motto p{
    font-style: italic;
    color: #b1b0ae;
    margin-left: 90px;
    margin-top: -10px;
}

.headerFlex {
    display: flex;


}

/* Styles for nav bar */


ul {
    margin: 0;
}

nav ul {
    list-style-type: none;
    background-color: #214459;
    overflow: hidden;
    padding: 20px 5px;
    border-bottom: 3px solid #2e2c2a;
    display: flex;
}

nav a:link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
}

nav a:hover {
    color:  #8d8c8a;
    text-shadow: 3px 3px 6px #2e2c2a;
} 

nav a:active {
    color: #d8da76;
    text-shadow: 3px 3px 6px #2e2c2a;
}

li.selected {
    background-color: #47718a;
    padding: 10px;
}

li.currentPage {
    background-color: #47718a;
    padding: 20px 10px;
}

nav li {
    margin: 20px auto 20px auto;
}

li {
    display: inline;
}

#hiddenMenu {
    display: none;
}




/* Styles for Footer */

#copyright, #currentDate{
    color: #fff;
    text-align: center;
}

footer {
    background-color: #214459;
    overflow: hidden;
    padding: 10px 5px;
    border-bottom: 3px solid #2e2c2a;
}

/* Styles for Preston Weather Page */

#sky {
    width: 97%;
    margin: 0 1.5%;
}

.pageTitle {
    text-align: center;
    font-size: 40px;
}

#weatherbox {
    background-color: #47718a;
    position: absolute;
    left: 5%;
    top: 10%;
    padding: 10px 30px;
    border: 2px solid #214459;
    color: #fff;
}

#bigImage {
    position: relative;
}

h4 {
    color: #2e2c2a;
    text-shadow: 3px 3px 8px #fff;
}

.articleBox {
    background-color: #8d8c8a;
    border: 2px solid #2e2c2a;
    width: 96.7%;
    margin: 3% 1.5%; 
    position: relative;  
}

#articleTitle {
    margin: 2% 2%;
    font-size: 25px;
}

#authorByline {
    margin: 0 5%;
    font-size: 15px;
}

#articlePic {
    width: 35%;
    position: absolute;
    right: 30px;
    top: 10%;
}

#articleBody {
    margin: 2% 2%;
    width: 55%;
}

#PrestonMap {
    float:left;
    border: 2px solid #2e2c2a;
    width: 48%;
    margin: 3%;
}

#contactArea {
    background-color: #47718a;
    overflow: hidden;
    border-bottom: 3px solid #2e2c2a;
    border-top: 3px solid #2e2c2a;
    padding-bottom: 10px;
    position: relative;
}

#contactArea p {
    color: #fff;
}

#columns {
    width: 40%;
    float: right;
    margin: 2%;
}

.fiveDay {
    background-color: #8d8c8a;
    border: 2px solid #2e2c2a;
    width: 96.7%;
    margin: 3% 1.5%; 
    text-align: center; 
}

#forecast {
    background-color: #47718a;
    border: 1px solid #2e2c2a;
    width: 80%;
    margin: 2% 10%;
    color: #fff;
}

#forecastTitle {
    margin: 2% auto;
}


/* Styles for Weather Gallery */

h2 #weatherHeader {
    margin-left: 20px;
    color: #214459;
}

.galleryPic {
    width: 100%;
    border-bottom: 1px solid #2e2c2a;
}

.galleryBox {
    width: 48%;
    border: 1px solid #2e2c2a;
    margin: 1em;
}

.galleryBox:hover {
    box-shadow: 2px 2px 8px;
}

figure figcaption {
    padding: 10px;
}

#picGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}